.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 440px;
    background-color: #fff;
    border: 10px solid #646cff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.header{
    flex: 1;
}
.header2{
    flex: 10;
}

p{
    margin: 0;
    padding: 0;
}