.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 440px;
    background-color: #fff;
    border: 8px solid #646cff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.header {
    flex: 1;
    background: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.rightHeader {
    color: #242424;
    font-weight: bold;
}

.leftHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}

.content{
    flex: 16;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: darkgreen;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pokemonImg{
    width: 80%;
    height: 40%;
    margin-top: 20px;
    background: darkmagenta;
}
.textContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    width: 70%;
    height: 40%;
    margin-top: 20px;
}

p {
    margin: 0;
    padding: 0;
    color: #242424;
    font-weight: bold;
}

.type {
    width: 70px;
    height: 20px;
    object-fit: contain;
}

.PV {
    font-size: x-small;
    font-weight: bold;
    margin-top: 10px;
}

.pokemonInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*-webkit-text-stroke: 1px white;*/
}