#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
}
.cardContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  flex-direction: row;
  overflow: auto;
  height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}