.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container {
  background: darkslategray;
  padding: 0 20px 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 40vh;
  display: flex;
  flex-direction: column;
}

.close {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #fff;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.formTop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.types {
  display: flex;
  align-items: center;
  gap: 1em;
}

.formMiddle {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.formMiddle > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 200px;
}

.formBottom {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
